In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'

In [3]:
x_train = pd.read_csv("Data/train_allx.csv")
y_train = pd.read_csv("Data/train_y.csv")
x_test = pd.read_csv("Data/val_allx.csv")
y_test = pd.read_csv("Data/Sample_Output.csv", names = ['ID', 'Target'], header=None)

In [ ]:
x_train

In [ ]:
y_train

In [ ]:
x_test

In [ ]:
y_test

In [ ]:
# Dropping ID column

x_train.drop('ID', axis=1, inplace=True)
x_test.drop('ID', axis=1, inplace=True)

In [ ]:
data = x_train.copy()
data['Target'] = y_train

## Checking the Target Column

In [ ]:
data['Target'].value_counts()

# EDA

In [ ]:
# figure out the data type
data.info()

In [ ]:
data.dtypes

In [ ]:
data.dtypes[data.dtypes != 'float64']

### Int Datatypes

In [71]:
data['B_41']

0         1
1         1
2         1
3         1
4         1
         ..
458908    1
458909    1
458910    1
458911    1
458912    1
Name: B_41, Length: 458913, dtype: int64

In [72]:
data['B_41'].value_counts()

1    456295
0      2618
Name: B_41, dtype: int64

In [73]:
data['D_130']

0         1
1         1
2         1
3         1
4         1
         ..
458908    1
458909    1
458910    1
458911    1
458912    0
Name: D_130, Length: 458913, dtype: int64

In [74]:
data['D_130'].value_counts()

1    355057
0    103856
Name: D_130, dtype: int64

### Checking the Object dtyes

In [75]:
data['D_36']

0         CO
1         CL
2         CO
3         CR
4         XM
          ..
458908    CO
458909    CO
458910    CR
458911    CO
458912    CO
Name: D_36, Length: 458913, dtype: object

In [76]:
data['D_36'].value_counts()

CO    344890
CR     73178
CL     35271
XZ      3263
XM      1503
XL       808
Name: D_36, dtype: int64

In [77]:
data['D_44']

0         O
1         O
2         O
3         O
4         O
         ..
458908    O
458909    U
458910    O
458911    O
458912    U
Name: D_44, Length: 458913, dtype: object

In [78]:
data['D_44'].value_counts()

O    244622
U    132722
R     71532
Name: D_44, dtype: int64

## Null Values

In [79]:
data.isnull().sum()[data.isnull().sum() > 0]

D_38    458086
P_2       2969
S_7      84970
S_25     84970
D_99     30377
         ...
R_7     407770
D_96    455235
D_39    455235
D_43    456286
D_4      12807
Length: 109, dtype: int64

In [80]:
# Percentage of Null Values
percentNull = data.isnull().sum()[data.isnull().sum() > 0] / len(data) *100
percentNull

D_38    99.819792
P_2      0.646964
S_7     18.515492
S_25    18.515492
D_99     6.619337
          ...
R_7     88.855622
D_96    99.198541
D_39    99.198541
D_43    99.427560
D_4      2.790725
Length: 109, dtype: float64

In [24]:
(percentNull[percentNull > 50]).index

Index(['D_38', 'B_29', 'B_26', 'D_68', 'D_110', 'D_17', 'D_106', 'D_48',
       'D_92', 'R_8', 'D_73', 'D_105', 'D_10', 'D_141', 'D_11', 'D_142',
       'D_31', 'D_95', 'B_7', 'B_22', 'D_80', 'D_97', 'D_12', 'D_132', 'D_114',
       'R_7', 'D_96', 'D_39', 'D_43'],
      dtype='object')

In [25]:
# x_train.drop((percentNull[percentNull > 50]).index, axis=1, inplace = True)
# x_test.drop((percentNull[percentNull > 50]).index, axis=1, inplace = True)

In [26]:
# x_train.to_csv('Data/train_x_null<50_notImputed.csv', index=0)
# x_test.to_csv('Data/test_x_null<50_notImputed.csv', index=0)

# Correlation

In [28]:
corr_mat = data.corr()

In [29]:
corr_mat

,B_37,S_24,S_4,S_14,B_25,D_38,B_30,D_138,P_2,S_7,...,D_4,D_85,D_78,D_42,D_52,D_29,R_1,R_28,S_5,Target
B_37,1.000000,0.000208,-0.133955,-0.123188,-0.190071,0.137502,0.150475,-0.043622,-0.151145,0.019732,...,-0.039010,-0.027850,-0.020930,-0.003609,-0.046704,-0.054844,-0.004010,0.059296,-0.014595,0.114813
S_24,0.000208,1.000000,0.002101,0.005028,-0.004990,-0.020312,0.004294,-0.001027,-0.003504,0.017230,...,-0.000884,-0.002340,-0.000875,-0.000766,-0.003170,-0.000868,0.001671,-0.000809,0.068774,0.008440
S_4,-0.133955,0.002101,1.000000,0.702917,0.130203,-0.314342,-0.082488,0.145127,0.216406,-0.394377,...,0.232922,0.182402,0.096829,0.004904,0.335297,0.302343,-0.003485,-0.075418,-0.022189,-0.162704
S_14,-0.123188,0.005028,0.702917,1.000000,0.105579,-0.304685,-0.067683,0.087860,0.160890,-0.202898,...,0.268209,0.282127,0.099089,-0.004041,0.404842,0.292491,-0.000378,-0.070131,-0.009027,-0.135801
B_25,-0.190071,-0.004990,0.130203,0.105579,1.000000,-0.022786,-0.599462,0.191255,0.632005,-0.262576,...,0.148146,0.048440,0.107211,0.023235,0.261876,0.276612,-0.019764,-0.147428,-0.099145,-0.485315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
D_29,-0.054844,-0.000868,0.302343,0.292491,0.276612,-0.068022,-0.177687,0.167224,0.264038,-0.193297,...,0.199824,0.142784,0.177895,0.019009,0.309433,1.000000,-0.008816,-0.048454,-0.034075,-0.175234
R_1,-0.004010,0.001671,-0.003485,-0.000378,-0.019764,0.005201,0.017612,-0.018366,-0.011534,0.072507,...,-0.006352,-0.003566,-0.003481,-0.002333,-0.007351,-0.008816,1.000000,-0.002823,0.015356,0.023157
R_28,0.059296,-0.000809,-0.075418,-0.070131,-0.147428,0.148926,0.157958,-0.066133,-0.321730,0.087160,...,-0.035266,-0.022388,-0.017449,-0.007824,-0.040594,-0.048454,-0.002823,1.000000,0.020283,0.149427
S_5,-0.014595,0.068774,-0.022189,-0.009027,-0.099145,0.180793,0.123810,-0.057867,-0.109586,0.211830,...,-0.023809,-0.010544,-0.013469,-0.007072,-0.026582,-0.034075,0.015356,0.020283,1.000000,0.118771
Target,0.114813,0.008440,-0.162704,-0.135801,-0.485315,0.059505,0.478168,-0.264793,-0.562642,0.296676,...,-0.120557,-0.064124,-0.066179,-0.031691,-0.142963,-0.175234,0.023157,0.149427,0.118771,1.000000

In [33]:
# corr_mat.reset_index(inplace=True)
# corr_mat.to_feather('Helpers/corr_mat.ftr')

In [54]:
corr_mat['Target'] = corr_mat['Target'].abs()
corr_mat[['index', 'Target']].sort_values(by='Target', ascending=False).head(10)

      index    Target
186  Target  1.000000
8       P_2  0.562642
101    D_40  0.524474
31      B_9  0.489996
4      B_25  0.485315
6      B_30  0.478168
12     D_99  0.466598
110    D_22  0.465842
30      B_5  0.458598
114    D_56  0.453967

# Imputing the null values

In [81]:
for col in x_train.columns:
    if x_train[col].dtype != 'object':
        mean = x_train[col].mean(skipna=True)
        x_train[col]=x_train[col].fillna(mean)
        x_test[col]=x_test[col].fillna(mean)

In [82]:
for col in x_train.columns:
    if x_train[col].dtype == 'object':
        mode = x_train[col].mode(dropna=True)[0]
        x_train[col]=x_train[col].fillna(mode)
        x_test[col]=x_test[col].fillna(mode)

In [83]:
x_train.isnull().sum()[x_train.isnull().sum() > 0]

Series([], dtype: int64)

In [ ]:
# x_train.drop(['D_44', 'D_36'], axis=1, inplace=True)

# Saving the Data Files

In [84]:
x_train.to_csv('Data/train__mean_mode_Imputed.csv', index=0)
x_test.to_csv('Data/test__mean_mode_Imputed.csv', index=0)