In [1]:
import numpy as np
import pandas as pd
import missingno as msno

In [2]:
x_train = pd.read_csv("Data/train_allx.csv")
x_test = pd.read_csv("Data/val_allx.csv")

y_train = pd.read_csv("Data/train_y.csv")
y_test = pd.read_csv("Data/Sample_Output.csv", names = ['ID', 'Target'], header=None)

In [3]:
train = pd.concat([x_train, x_test], axis=0)
train.drop('ID', axis=1 , inplace=True)

In [11]:
train.reset_index(inplace=True, drop=True)

In [12]:
train

,B_37,S_24,S_4,S_14,B_25,D_38,B_30,D_138,P_2,S_7,...,D_43,D_4,D_85,D_78,D_42,D_52,D_29,R_1,R_28,S_5
0,0.006462,0.008118,0.853027,0.556641,1.003906,NaN,0.021301,0.511230,1.004883,0.081543,...,NaN,0.502441,0.002375,0.008270,0.008835,0.001913,1.007812,0.008171,0.008514,0.004307
1,0.007748,0.006310,0.758301,0.686035,0.001836,NaN,0.088501,0.557129,0.687988,0.353027,...,NaN,0.009544,1.002930,0.002613,0.003374,0.000530,0.006649,0.006798,0.003426,0.009224
2,0.005405,0.005219,0.766602,0.284668,1.002930,NaN,0.005821,0.854980,0.927734,0.059479,...,NaN,0.008736,0.008751,0.002541,0.009300,0.001654,0.000212,0.007599,0.009224,0.009636
3,0.004135,0.000032,0.363281,0.004623,0.533691,NaN,0.002443,0.526367,0.700684,0.334473,...,NaN,0.004646,0.007095,0.000235,0.004581,0.004738,0.002653,0.001221,0.009529,0.007523
4,0.002968,0.002892,0.757324,0.427734,1.001953,NaN,0.008247,0.820312,1.001953,0.144287,...,NaN,0.000344,0.005577,0.001367,0.005760,1.008789,1.003906,0.003401,0.001020,0.000535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
926874,0.004086,0.000147,0.329600,0.002620,0.294400,NaN,0.246200,0.180000,0.033170,0.541000,...,NaN,0.007103,0.008780,0.007590,0.009440,0.003723,0.001698,0.004616,0.005566,0.004290
926875,0.008910,0.000919,0.009230,0.006115,1.003000,NaN,0.008380,0.550300,0.842000,NaN,...,NaN,0.009320,0.000625,0.006428,0.003838,0.005753,0.007400,0.008780,0.002214,0.006184
926876,0.009766,0.008220,0.323700,0.284200,0.098800,NaN,0.560000,0.195900,0.156500,0.160200,...,NaN,0.009090,0.009600,0.004220,0.002270,0.000102,0.007713,0.003700,0.008320,0.005623
926877,0.009980,0.005333,0.486000,0.510700,0.696000,NaN,0.066400,0.883300,0.825000,0.151600,...,NaN,0.006916,0.001587,0.002142,0.006580,0.009056,0.008064,0.001599,0.006733,0.004776
926878,0.004950,0.001845,0.007584,0.003288,0.476600,NaN,0.007350,0.639000,0.788000,NaN,...,NaN,0.001489,0.001667,0.007294,0.009865,0.006390,0.002014,0.008766,0.000485,0.002613

In [13]:
y_train.isnull().sum()

Default_Flag    0
dtype: int64

In [14]:
(x_train.isnull().sum(axis=1) >= 100).sum()

0

In [15]:
x_train[["D_36", "D_44"]].isnull().sum()

D_36        0
D_44    10037
dtype: int64

In [16]:
x_train.loc[:,x_train.dtypes == 'int'].value_counts()

ID          B_41  D_130
1000026836  1     1        1
7003799603  1     1        1
6991894646  1     1        1
6991887520  1     1        1
6991882388  1     1        1
                          ..
3988723527  1     0        1
3988693103  1     1        1
3988689271  1     1        1
3988680189  1     0        1
9999962137  1     1        1
Length: 458913, dtype: int64

In [17]:
train[['D_36', 'D_44', 'B_41', 'D_130']].isnull().sum()

D_36         0
D_44     23874
B_41         0
D_130        0
dtype: int64

In [28]:
train_transformed = train.groupby(['D_36', 'D_44', 'B_41', 'D_130']).transform(lambda x: x.fillna(x.mean()))
train[train.drop(['D_36', 'D_44', 'B_41', 'D_130'], axis=1).columns] = train_transformed

train_transformed = train.groupby(['D_36', 'D_44', 'B_41',]).transform(lambda x: x.fillna(x.mean()))
train[train.drop(['D_36', 'D_44', 'B_41'], axis=1).columns] = train_transformed

train_transformed = train.groupby(['D_36', 'D_44', 'D_130',]).transform(lambda x: x.fillna(x.mean()))
train[train.drop(['D_36', 'D_44', 'D_130'], axis=1).columns] = train_transformed

train_transformed = train.groupby(['D_36', 'D_44']).transform(lambda x: x.fillna(x.mean()))
train[train.drop(['D_36', 'D_44',], axis=1).columns] = train_transformed

train_transformed = train.groupby(['D_36']).transform(lambda x: x.fillna(x.mean()))
train[train.drop(['D_36', ], axis=1).columns] = train_transformed

/tmp/ipykernel_1686/2428334269.py:13: FutureWarning: Dropping invalid columns in DataFrameGroupBy.transform is deprecated. In a future version, a TypeError will be raised. Before calling .transform, select only columns which should be valid for the function.
  train_transformed = train.groupby(['D_36']).transform(lambda x: x.fillna(x.mean()))

ValueError: Columns must be same length as key

In [29]:
train_transformed.isnull().sum()[train_transformed.isnull().sum() > 0]

D_17    3898
D_96    3898
D_39    3898
dtype: int64

In [30]:
train.isnull().sum()[train.isnull().sum() > 0]

B_37    23874
S_24    23874
S_4     23874
S_14    23874
B_25    23874
        ...
D_52    23874
D_29    23874
R_1     23874
R_28    23874
S_5     23874
Length: 187, dtype: int64

In [27]:
train

,B_37,S_24,S_4,S_14,B_25,D_38,B_30,D_138,P_2,S_7,...,D_43,D_4,D_85,D_78,D_42,D_52,D_29,R_1,R_28,S_5
0,0.006462,0.008118,0.853027,0.556641,1.003906,0.276992,0.021301,0.511230,1.004883,0.081543,...,0.031038,0.502441,0.002375,0.008270,0.008835,0.001913,1.007812,0.008171,0.008514,0.004307
1,0.007748,0.006310,0.758301,0.686035,0.001836,0.067099,0.088501,0.557129,0.687988,0.353027,...,0.072340,0.009544,1.002930,0.002613,0.003374,0.000530,0.006649,0.006798,0.003426,0.009224
2,0.005405,0.005219,0.766602,0.284668,1.002930,0.276992,0.005821,0.854980,0.927734,0.059479,...,0.031038,0.008736,0.008751,0.002541,0.009300,0.001654,0.000212,0.007599,0.009224,0.009636
3,0.004135,0.000032,0.363281,0.004623,0.533691,0.115178,0.002443,0.526367,0.700684,0.334473,...,0.011714,0.004646,0.007095,0.000235,0.004581,0.004738,0.002653,0.001221,0.009529,0.007523
4,0.002968,0.002892,0.757324,0.427734,1.001953,0.059624,0.008247,0.820312,1.001953,0.144287,...,0.004537,0.000344,0.005577,0.001367,0.005760,1.008789,1.003906,0.003401,0.001020,0.000535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
926874,0.004086,0.000147,0.329600,0.002620,0.294400,0.288726,0.246200,0.180000,0.033170,0.541000,...,0.085619,0.007103,0.008780,0.007590,0.009440,0.003723,0.001698,0.004616,0.005566,0.004290
926875,0.008910,0.000919,0.009230,0.006115,1.003000,0.276992,0.008380,0.550300,0.842000,0.201248,...,0.031038,0.009320,0.000625,0.006428,0.003838,0.005753,0.007400,0.008780,0.002214,0.006184
926876,0.009766,0.008220,0.323700,0.284200,0.098800,0.277307,0.560000,0.195900,0.156500,0.160200,...,0.103824,0.009090,0.009600,0.004220,0.002270,0.000102,0.007713,0.003700,0.008320,0.005623
926877,0.009980,0.005333,0.486000,0.510700,0.696000,0.293997,0.066400,0.883300,0.825000,0.151600,...,0.047829,0.006916,0.001587,0.002142,0.006580,0.009056,0.008064,0.001599,0.006733,0.004776
926878,0.004950,0.001845,0.007584,0.003288,0.476600,0.293997,0.007350,0.639000,0.788000,0.255878,...,0.047829,0.001489,0.001667,0.007294,0.009865,0.006390,0.002014,0.008766,0.000485,0.002613

In [25]:
train_transformed

,B_37,S_24,S_4,S_14,B_25,D_38,B_30,D_138,P_2,S_7,...,D_43,D_4,D_85,D_78,D_42,D_52,D_29,R_1,R_28,S_5
0,0.006462,0.008118,0.853027,0.556641,1.003906,0.276992,0.021301,0.511230,1.004883,0.081543,...,0.031038,0.502441,0.002375,0.008270,0.008835,0.001913,1.007812,0.008171,0.008514,0.004307
1,0.007748,0.006310,0.758301,0.686035,0.001836,0.067099,0.088501,0.557129,0.687988,0.353027,...,0.072340,0.009544,1.002930,0.002613,0.003374,0.000530,0.006649,0.006798,0.003426,0.009224
2,0.005405,0.005219,0.766602,0.284668,1.002930,0.276992,0.005821,0.854980,0.927734,0.059479,...,0.031038,0.008736,0.008751,0.002541,0.009300,0.001654,0.000212,0.007599,0.009224,0.009636
3,0.004135,0.000032,0.363281,0.004623,0.533691,0.115178,0.002443,0.526367,0.700684,0.334473,...,0.011714,0.004646,0.007095,0.000235,0.004581,0.004738,0.002653,0.001221,0.009529,0.007523
4,0.002968,0.002892,0.757324,0.427734,1.001953,0.059624,0.008247,0.820312,1.001953,0.144287,...,0.004537,0.000344,0.005577,0.001367,0.005760,1.008789,1.003906,0.003401,0.001020,0.000535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
926874,0.004086,0.000147,0.329600,0.002620,0.294400,0.288726,0.246200,0.180000,0.033170,0.541000,...,0.085619,0.007103,0.008780,0.007590,0.009440,0.003723,0.001698,0.004616,0.005566,0.004290
926875,0.008910,0.000919,0.009230,0.006115,1.003000,0.276992,0.008380,0.550300,0.842000,0.201248,...,0.031038,0.009320,0.000625,0.006428,0.003838,0.005753,0.007400,0.008780,0.002214,0.006184
926876,0.009766,0.008220,0.323700,0.284200,0.098800,0.277307,0.560000,0.195900,0.156500,0.160200,...,0.103824,0.009090,0.009600,0.004220,0.002270,0.000102,0.007713,0.003700,0.008320,0.005623
926877,0.009980,0.005333,0.486000,0.510700,0.696000,0.293997,0.066400,0.883300,0.825000,0.151600,...,0.047829,0.006916,0.001587,0.002142,0.006580,0.009056,0.008064,0.001599,0.006733,0.004776
926878,0.004950,0.001845,0.007584,0.003288,0.476600,0.293997,0.007350,0.639000,0.788000,0.255878,...,0.047829,0.001489,0.001667,0.007294,0.009865,0.006390,0.002014,0.008766,0.000485,0.002613

# Plotting the missing values

In [23]:
x_train['D_44'].value_counts()

O    244622
U    132722
R     71532
Name: D_44, dtype: int64

In [24]:
x_train['D_44'].isnull().sum()

10037

In [25]:
train_xy = pd.concat([x_train['D_44'], y_train], axis=1)

In [44]:
train_xy.groupby(['D_44']).value_counts() #/ train_xy['D_44'].value_counts()

D_44  Default_Flag
O     0               200975
      2                16859
      3                14268
      1                12520
R     0                47612
      2                 9340
      3                 7563
      1                 7017
U     0                84424
      2                19140
      3                15026
      1                14132
dtype: int64

In [36]:
train_xy[train_xy['D_44'].isnull()]['Default_Flag'].value_counts()

0    7074
2    1085
3    1046
1     832
Name: Default_Flag, dtype: int64

In [42]:
train_xy['D_44'].value_counts()

O    244622
U    132722
R     71532
Name: D_44, dtype: int64