In [2]:
import numpy as np
import pandas as pd

In [3]:
x_train = pd.read_feather("Data/x_train__IterativeImputer_10itrs.ftr")
x_test = pd.read_feather("Data/x_test__IterativeImputer_10itrs.ftr")

y_train = pd.read_csv("Data/train_y.csv")
y_test = pd.read_csv("Data/Sample_Output.csv", names = ['ID', 'Target'], header=None)

In [5]:
orig_train = pd.read_csv("Data/train_allx.csv")
orig_train.drop("ID", axis=1, inplace=True)

In [6]:
x_train

,B_37,S_24,S_4,S_14,B_25,D_38,B_30,D_138,P_2,S_7,...,S_5,D_36_CO,D_36_CR,D_36_XL,D_36_XM,D_36_XZ,D_36_nan,D_44_R,D_44_U,D_44_nan
0,0.006462,0.008118,0.853027,0.556641,1.003906,0.193557,0.021301,0.511230,1.004883,0.081543,...,0.004307,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.007748,0.006310,0.758301,0.686035,0.001836,0.189822,0.088501,0.557129,0.687988,0.353027,...,0.009224,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.005405,0.005219,0.766602,0.284668,1.002930,0.182655,0.005821,0.854980,0.927734,0.059479,...,0.009636,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.004135,0.000032,0.363281,0.004623,0.533691,0.170661,0.002443,0.526367,0.700684,0.334473,...,0.007523,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.002968,0.002892,0.757324,0.427734,1.001953,0.213928,0.008247,0.820312,1.001953,0.144287,...,0.000535,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458908,0.003967,0.005070,0.167480,0.421143,0.697266,0.186495,0.059113,0.526855,0.852051,0.724121,...,0.001259,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
458909,0.006248,0.007683,0.003338,0.006954,1.004883,0.180386,0.001700,0.575195,0.885254,0.286364,...,0.003376,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
458910,0.004993,0.003204,0.167114,0.289307,0.650879,0.178694,0.007294,0.406738,0.632324,0.346924,...,0.007114,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
458911,0.002348,0.005432,0.330078,0.003138,0.689941,0.184077,0.001930,0.417969,0.846191,0.172607,...,0.003271,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
458912,0.009079,0.009773,0.000458,0.004875,1.001953,0.172941,0.007450,0.602051,0.715332,0.281413,...,0.007168,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [7]:
x_train.columns

Index(['B_37', 'S_24', 'S_4', 'S_14', 'B_25', 'D_38', 'B_30', 'D_138', 'P_2',
       'S_7',
       ...
       'S_5', 'D_36_CO', 'D_36_CR', 'D_36_XL', 'D_36_XM', 'D_36_XZ',
       'D_36_nan', 'D_44_R', 'D_44_U', 'D_44_nan'],
      dtype='object', length=195)

In [8]:
colstartswith_dict = {}
for col in orig_train.drop(['D_36', 'D_44'], axis=1).columns:
    if col[0] not in colstartswith_dict:
        colstartswith_dict[col[0]] = [col]
    else:
        colstartswith_dict[col[0]].append(col)

In [9]:
colstartswith_dict

{'B': ['B_37',
  'B_25',
  'B_30',
  'B_28',
  'B_42',
  'B_17',
  'B_1',
  'B_31',
  'B_33',
  'B_3',
  'B_19',
  'B_12',
  'B_21',
  'B_29',
  'B_26',
  'B_5',
  'B_9',
  'B_10',
  'B_18',
  'B_4',
  'B_40',
  'B_32',
  'B_14',
  'B_20',
  'B_35',
  'B_24',
  'B_8',
  'B_6',
  'B_38',
  'B_41',
  'B_36',
  'B_23',
  'B_2',
  'B_13',
  'B_34',
  'B_7',
  'B_39',
  'B_22',
  'B_15',
  'B_11'],
 'S': ['S_24',
  'S_4',
  'S_14',
  'S_7',
  'S_25',
  'S_12',
  'S_21',
  'S_20',
  'S_13',
  'S_15',
  'S_23',
  'S_3',
  'S_22',
  'S_9',
  'S_16',
  'S_8',
  'S_11',
  'S_26',
  'S_2',
  'S_19',
  'S_5'],
 'D': ['D_38',
  'D_138',
  'D_99',
  'D_121',
  'D_107',
  'D_79',
  'D_60',
  'D_122',
  'D_2',
  'D_15',
  'D_68',
  'D_89',
  'D_8',
  'D_110',
  'D_74',
  'D_17',
  'D_106',
  'D_19',
  'D_88',
  'D_48',
  'D_34',
  'D_98',
  'D_92',
  'D_25',
  'D_59',
  'D_126',
  'D_1',
  'D_90',
  'D_73',
  'D_105',
  'D_67',
  'D_10',
  'D_40',
  'D_27',
  'D_64',
  'D_133',
  'D_50',
  'D_69',
  'D_65',
  'D_129',
  'D_22',
  'D_6',
  'D_56',
  'D_100',
  'D_141',
  'D_87',
  'D_51',
  'D_123',
  'D_84',
  'D_18',
  'D_23',
  'D_55',
  'D_108',
  'D_7',
  'D_135',
  'D_11',
  'D_139',
  'D_142',
  'D_31',
  'D_95',
  'D_61',
  'D_86',
  'D_5',
  'D_117',
  'D_93',
  'D_54',
  'D_20',
  'D_102',
  'D_91',
  'D_32',
  'D_49',
  'D_26',
  'D_124',
  'D_130',
  'D_47',
  'D_9',
  'D_70',
  'D_83',
  'D_120',
  'D_80',
  'D_97',
  'D_12',
  'D_132',
  'D_114',
  'D_101',
  'D_96',
  'D_39',
  'D_43',
  'D_4',
  'D_85',
  'D_78',
  'D_42',
  'D_52',
  'D_29'],
 'P': ['P_2', 'P_3', 'P_1'],
 'R': ['R_24',
  'R_25',
  'R_8',
  'R_26',
  'R_27',
  'R_10',
  'R_23',
  'R_2',
  'R_17',
  'R_18',
  'R_15',
  'R_20',
  'R_12',
  'R_3',
  'R_4',
  'R_6',
  'R_22',
  'R_21',
  'R_14',
  'R_16',
  'R_13',
  'R_19',
  'R_11',
  'R_9',
  'R_5',
  'R_7',
  'R_1',
  'R_28']}

In [10]:
x_train[colstartswith_dict['B']].sum(axis=1)

0          7.698634
1         10.614926
2          8.608478
3          7.309574
4          7.943610
            ...
458908     7.872459
458909     8.335395
458910     8.586269
458911     6.011741
458912     6.134372
Length: 458913, dtype: float64

In [11]:
for col_start, cols in colstartswith_dict.items():
    x_train[f"{col_start}_cols_sum"] = x_train[cols].sum(axis=1)
    x_test[f"{col_start}_cols_sum"] = x_test[cols].sum(axis=1)

In [12]:
x_train

,B_37,S_24,S_4,S_14,B_25,D_38,B_30,D_138,P_2,S_7,...,D_36_XZ,D_36_nan,D_44_R,D_44_U,D_44_nan,B_cols_sum,S_cols_sum,D_cols_sum,P_cols_sum,R_cols_sum
0,0.006462,0.008118,0.853027,0.556641,1.003906,0.193557,0.021301,0.511230,1.004883,0.081543,...,0.0,0.0,0.0,0.0,0.0,7.698634,5.836067,24.109540,1.602551,2.196609
1,0.007748,0.006310,0.758301,0.686035,0.001836,0.189822,0.088501,0.557129,0.687988,0.353027,...,0.0,0.0,0.0,0.0,0.0,10.614926,6.871033,15.755408,1.405144,2.182114
2,0.005405,0.005219,0.766602,0.284668,1.002930,0.182655,0.005821,0.854980,0.927734,0.059479,...,0.0,0.0,0.0,0.0,0.0,8.608478,5.199671,8.447959,1.571945,2.211414
3,0.004135,0.000032,0.363281,0.004623,0.533691,0.170661,0.002443,0.526367,0.700684,0.334473,...,0.0,0.0,0.0,0.0,0.0,7.309574,4.699392,10.355594,1.223454,3.884069
4,0.002968,0.002892,0.757324,0.427734,1.001953,0.213928,0.008247,0.820312,1.001953,0.144287,...,0.0,0.0,0.0,0.0,0.0,7.943610,5.843194,16.273283,1.636337,2.314814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458908,0.003967,0.005070,0.167480,0.421143,0.697266,0.186495,0.059113,0.526855,0.852051,0.724121,...,0.0,0.0,0.0,0.0,0.0,7.872459,7.019016,4.623534,1.493143,2.222829
458909,0.006248,0.007683,0.003338,0.006954,1.004883,0.180386,0.001700,0.575195,0.885254,0.286364,...,0.0,0.0,0.0,1.0,0.0,8.335395,4.177146,15.901209,1.378498,2.253111
458910,0.004993,0.003204,0.167114,0.289307,0.650879,0.178694,0.007294,0.406738,0.632324,0.346924,...,0.0,0.0,0.0,0.0,0.0,8.586269,5.408536,31.216913,1.529594,2.270559
458911,0.002348,0.005432,0.330078,0.003138,0.689941,0.184077,0.001930,0.417969,0.846191,0.172607,...,0.0,0.0,0.0,0.0,0.0,6.011741,5.187582,19.694372,1.593529,2.162937
458912,0.009079,0.009773,0.000458,0.004875,1.001953,0.172941,0.007450,0.602051,0.715332,0.281413,...,0.0,0.0,0.0,1.0,0.0,6.134372,4.197520,4.821460,1.279828,2.269429

# Using the Variable Dictionary

In [13]:
variable_dict = pd.read_excel("Data/Variable_Dictionary_Data Science Challenge.xlsx").iloc[2:].reset_index(drop=True)

In [16]:
variable_dict['Desc_first_word'] = list(map(lambda x:x.split()[0], variable_dict['Description']))

In [17]:
variable_dict

    Variable Name          Description Desc_first_word
0             B_1  Payment Variable 01         Payment
1             B_2  Payment Variable 02         Payment
2             B_3  Payment Variable 03         Payment
3             B_4  Payment Variable 04         Payment
4             B_5  Payment Variable 05         Payment
..            ...                  ...             ...
183          S_22    Spend Variable 21           Spend
184          S_23    Spend Variable 22           Spend
185          S_24    Spend Variable 23           Spend
186          S_25    Spend Variable 24           Spend
187          S_26    Spend Variable 25           Spend

[188 rows x 3 columns]